body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
}

.container {
    background-color: #373737;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    width: 300px;
    margin: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    box-sizing: border-box;
    background: #373737;
    color: white;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}
