body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    font-family: Minecraftia;
}
.container {
    display: flex;
    justify-content: center;
}
.items {
    position: absolute;
    width: 700px;
    height: 677.412px
}
.item_hotbar {
    position: absolute;
    top: 488px;
}
.item_armor_top {
    position: absolute;
    top: 120px;
}
.item_armor_bottom {
    position: absolute;
    top: 213px;
}
.item_armor_shand {
    position: absolute;
    top: 169px;
}
.grid {
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 55px;
    width: 55px;
    position: absolute;
    mix-blend-mode: plus-lighter;
    margin-left: -55px;
}
.inv {
    position: absolute;
    top: 287px;
}
.legenda {
    position: absolute;
    top: 350px;
    left:296px
}
.tooltip {
    /*position: relative;*/
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .inv .tooltiptext {
    bottom: -370%;
  }
  .item_armor_shand .tooltiptext {
    bottom: -370%;
    left: 205%;
  }
  .legenda .tooltiptext {
    width: 450px;
    bottom: -100%;
    left: 210%;
  }
/*tooltip minecraft*/
.box {
    overflow: auto;
    margin-left: 10px;
    line-height: 1.3;
}
.outer {
    padding: 2px;
    display: inline-block;
    background-color: #110410;
}
.inner {
    font-size: 24px;
    padding: 4px 5px;
    border: 2px solid #2c0863;
    border-radius: 2px;
}