:root {
    --slot-size: 50px;
    --mobile-slot-size: 20px;

    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Minecraftia;

}
.box, .box .tooltip, .box div img{
    font-size: calc(var(--slot-size) - 6px);
    line-height: var(--slot-size);
    width: var(--slot-size);
    height: var(--slot-size);
    text-align: center;
    color: #292929;
    display: block;
}
.box div img {
    position: absolute;
}
.chest {
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: relative;*/
    flex-direction: column;
    height: auto;
    padding: 0 15px;
    padding-bottom: 15px;
    width: auto;
    background-color: #393939;
    box-shadow: 8px 0 0 0 #232323,
        0 8px 0 0 #232323,
        4px 4px 0 0 #232323,
        -8px 0 0 0 #585858,
        0 -8px 0 0 #585858,
        -4px -4px 0 0 #585858,
        0 0 0 4px #393939,
        4px 8px 0 0 #232323,
        8px 4px 0 0 #232323,
        -4px -8px 0 0 #585858,
        -8px -4px 0 0 #585858,
        8px -4px 0 0 #000,
        4px -8px 0 0 #000,
        -8px 4px 0 0 #000,
        -4px 8px 0 0 #000,
        -8px -8px 0 0 #000,
        8px 8px 0 0 #000,
        -12px 0 0 0 #000,
        -12px -4px 0 0 #000,
        12px 0 0 0 #000,
        12px 4px 0 0 #000,
        0 -12px 0 0 #000,
        -4px -12px 0 0 #000,
        0 12px 0 0 #000,
        4px 12px 0 0 #000;
}
.box {
    height: var(--slot-size);
    width: var(--slot-size);
    background-color: #232323;
    box-shadow: 2px 2px 0 2px #585858, -2px -2px 0 2px #000000, 0 0 0 4px #232323;
}
.box:hover {
    background-color: #919191;
}
.boxes {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(9, calc(var(--slot-size) + 8px));
    grid-template-rows: repeat(3, calc(var(--slot-size) + 8px)); /* 3 - ilość wierszy */
    margin-top: 5px;
}
.inv {
    display: grid;
    grid-template-columns: repeat(9, calc(var(--slot-size) + 8px));
    grid-template-rows: repeat(3, calc(var(--slot-size) + 8px));
    margin-bottom: 25px;
}
.hotbar {
    display: grid;
    grid-template-columns: repeat(9, calc(var(--slot-size) + 8px));
    grid-template-rows: repeat(1, calc(var(--slot-size) + 8px))
}
.boxes,
.inv,
.hotbar {
    margin-left: 8px;
}
.name {
    width: 100%;
    height: 38px;
    background-image: url("../images/ec/name_bar2.png");
    background-repeat: no-repeat;
    background-size: 100% 38px;
    margin: 5px 0px;
}
p {
    font-weight: normal;
    font-style: normal;
    color: #3f3f3f;
    display: inline-block;
    width: 100%;
    padding-left: 7px;
    font-size: 1.3em;
    line-height: 30px;
    margin: 0;
    margin-top: 1px;
}
.grid {
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: var(--slot-size);
    width: var(--slot-size);
    position: absolute;
    mix-blend-mode: plus-lighter;
}
.tooltip {
    /*position: relative;*/
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    height: max-content;
    text-align: left;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
/*tooltip minecraft*/
.box_tooltip {
    overflow: auto;
    margin-left: 10px;
    line-height: 1.3;
    max-width: 610px;
}
.outer {
    padding: 2px;
    display: inline-block;
    background-color: #110410;
}
.inner {
    font-size: 24px;
    padding: 4px 5px;
    border: 2px solid #2c0863;
    border-radius: 2px;
}